= simple_form_for @recipe, html: {:"class" => "directUpload", :"data-s3-direct-post" => @s3_direct_post.url, "data-s3-direct-fields" => @s3_direct_post.fields.to_json, :"data-s3-direct-host" => @s3_direct_post.url.host} do |f|
  = render :partial => 'form', :locals => {:f => f}
  br
  = f.submit "Add Recipe"